{% extends "base.twig" %}

{% block main %}

	<main class="bel-main">
		<div class="bel-main-w">
			<div class="bel-main-i">
				<section class="bel-section _interview">
					<div class="bel-section-w">
						<div class="bel-section-i">
							<div class="bel-heading _section _interview">
								<div class="bel-heading-w">
									<div class="bel-heading-i"><h1>Блиц-интервью<br>с солистами<br>Bel Suono</h1></div>
								</div>
							</div>
						</div>
					</div>
					<div class="bel-bgimg _light-glow _interview"
					     style="background-image: url({{ theme.uri }}/assets/image/bg-interview.jpg)"></div>
				</section>
			</div>
			<div class="bel-main-i">
				<section class="bel-section _interview">
					<div class="bel-section-w">
						<div class="bel-section-i">
							<div class="bel-list _interview-list">
								<div class="bel-list-w">
									<div class="bel-list-i">
										<div class="bel-heading _interview-list-heading">
											<div class="bel-heading-w">
												<div class="bel-heading-i">
													<h2>Где вы родились?<br>Расскажите о себе и своих родителях.</h2>
												</div>
											</div>
										</div>
										<div class="bel-node _interview-list-artist -one">
											<div class="bel-node-w">
												<div class="bel-node-i">
													<div class="bel-image _interview-list-image">
														<div class="bel-image-w">
															<div class="bel-image-i"><img
																		src="{{ theme.uri }}/assets/image/interview-1.png" alt=""></div>
														</div>
													</div>
												</div>
												<div class="bel-node-i">
													<div class="bel-text _interview-list-text -alt">
														<div class="bel-text-w">
															<div class="bel-text-i"><p><span>Никита Хабин </span>Я родился
																	в поселке Сурменевский, в Челябинской области. Мои
																	родители – экономисты по образованию, всю жизнь живут и
																	работают на селе.</p></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="bel-node _interview-list-artist -two">
											<div class="bel-node-w">
												<div class="bel-node-i">
													<div class="bel-image _interview-list-image">
														<div class="bel-image-w">
															<div class="bel-image-i"><img
																		src="{{ theme.uri }}/assets/image/interview-2.png" alt=""></div>
														</div>
													</div>
												</div>
												<div class="bel-node-i">
													<div class="bel-text _interview-list-text -alt">
														<div class="bel-text-w">
															<div class="bel-text-i"><p><span>Кирилл Гущин </span>Я
																	родился в Энгельсе, городе, известном своими
																	троллейбусами и тем, что в его окрестностях приземлился
																	Гагарин. Мои родители – инженеры с высшим техническим
																	образованием, работают по специальности.</p></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="bel-node _interview-list-artist -three">
											<div class="bel-node-w">
												<div class="bel-node-i">
													<div class="bel-image _interview-list-image">
														<div class="bel-image-w">
															<div class="bel-image-i"><img
																		src="{{ theme.uri }}/assets/image/interview-3.png" alt=""></div>
														</div>
													</div>
												</div>
												<div class="bel-node-i">
													<div class="bel-text _interview-list-text -alt">
														<div class="bel-text-w">
															<div class="bel-text-i"><p><span>Антон Мосенков </span>Я
																	родился и вырос в Москве, моя мама<br>–
																	экономист-аналитик, а папа<br>– военнослужащий.</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="bel-list-i">
										<div class="bel-heading _interview-list-heading">
											<div class="bel-heading-w">
												<div class="bel-heading-i"><h2>Как началось ваше общение с музыкой? Где
														вы учились?</h2></div>
											</div>
										</div>
										<div class="bel-text _interview-list-text">
											<div class="bel-text-w">
												<div class="bel-text-i"><p><span>К.Г.</span> Хотя папа с мамой по
														профессии не музыканты, они оба учились в музыкальных школах. А моя
														тетя и вовсе пианистка, закончила Саратовскую консерваторию, она и
														помогала мне делать первые шаги на клавиатуре. Когда мне исполнилось
														шесть лет, в городе открылся экспериментальный
														Музыкально-Эстетический Лицей, созданный по образцу классических
														десятилеток – Центральной музыкальной школы (ЦМШ) и Московской
														средней специальной музыкальной школы им. Гнесиных (МССМШ), и мама
														решила, что мне там самое место. После его окончания я поехал в
														Москву, отучился Московской государственной консерватории им. П. И.
														Чайковского (МГК) и аспирантуре в классах профессоров Ирины
														Плотниковой и Надежды Чибисовой.</p>
													<p><span>А.М.</span> Мое знакомство с музыкой началось в далеком
														детстве в хореографическом училище, где у нас был предмет под
														названием «Общее фортепиано». Именно эти уроки казались мне
														более интересными, чем хореография. Душа лежала именно к музыке,
														к занятиям которой я готовился с особым усердием и желанием.. И
														вместе с родителями было принято решение обучаться музыке
														профессионально, после чего я перешел в музыкальную школу, о чем
														не жалею и по сей день. Я поступил в АМК им. П. И. Чайковского,
														а затем окончил Московскую консерваторию им. П. И. Чайковского
														(МГК).</p>
													<p><span>Н.Х. </span>В моей семье не было музыкантов, хотя все очень
														любили петь. Однажды папа привёз в прицепе старое пианино, и оно
														сразу же привлекло мое внимание. К счастью, в соседней к нам
														деревне находилась небольшая, скромная музыкальная школа, но с
														очень неравнодушными педагогами. За год до поступления в колледж
														мы переехали в г. Магнитогорск, чтобы учиться у профессора Н. И.
														Мельниковой. Эта встреча и предопределила мой выбор в пользу
														музыкальной профессии. Дальше была Московская консерватория в
														классе М. С. Воскресенского, а затем Ассистентура-Стажировка
														МГК.</p></div>
											</div>
										</div>
									</div>
									<div class="bel-list-i">
										<div class="bel-heading _interview-list-heading">
											<div class="bel-heading-w">
												<div class="bel-heading-i"><h2>Как вы попали в коллектив? Что для вас
														Bel Suono?</h2></div>
											</div>
										</div>
										<div class="bel-text _interview-list-text">
											<div class="bel-text-w">
												<div class="bel-text-i"><p><span>К.Г.</span> Меня пригласил Максим – мы
														были знакомы по консерватории, жили в соседних комнатах в общежитии.
														При этом я ничего не знал о проекте, никогда не слышал этого
														названия. Помню, Лейла долго сомневалась насчет меня, но все-таки
														решилась и, надеюсь, не жалеет! Bel Suono для меня – это, прежде
														всего, смелый эксперимент, доказывающий, что и в наше переменчивое
														время можно создать нечто новое, свежее, современное, основываясь на
														вековых традициях мировой музыкальной культуры. Это работа моей
														мечты, без сомнений!</p>
													<p><span>А.М.</span> Я давно знаком с творчеством Bel Suono,
														участником которого является мой друг Вася Опалев. Благодаря ему
														я часто посещал концерты коллектива. После одного из выступлений
														за кулисами мне посчастливилось поздравить уже любимую на тот
														момент команду Bel Suono с успешным концертом, и по воле случая
														рядом оказался рояль… Признаться честно, перед таким я никогда
														не могу устоять. Я сел импровизировать. Продюсер Лейла Фаттахова
														отметила мою игру. Мне было невероятно приятно и очень ценно
														слышать это от неё! Однажды появилась информация об уходе одного
														из солистов. Я понял, что такой шанс выпадает один раз на
														миллион. Вася мне очень помог и сыграл огромную роль в этой
														истории, за что я ему всегда буду признателен. Благодаря его
														рекомендации Лейла предложила мне пройти прослушивание и общий
														кастинг. Так я и попал в коллектив, чему не перестаю радоваться
														изо дня в день!</p>
													<p><span>Н.Х. </span>Моя история присоединения к коллективу Bel
														Suono для меня самого навсегда останется загадкой. Кому-то оно
														может показаться весьма легким. Мне поступил звонок от
														продюсера, на который, к своему счастью, я ответил, и вот теперь
														я здесь. Думаю, что мне помогли рекомендации учителей и коллег
														по предыдущим проектам, за что я им очень благодарен. После
														окончания консерватории мне удалось поработать в огромном
														количестве интересных проектов разных направлений и стилистики.
														И так совпало, что в последнее время я начал чаще задумываться,
														как эффективно использовать весь мой пласт разножанрового опыта.
														Я очень рад, что такая возможность появилась!</p></div>
											</div>
										</div>
									</div>
									<div class="bel-list-i">
										<div class="bel-heading _interview-list-heading">
											<div class="bel-heading-w">
												<div class="bel-heading-i"><h2>Какую музыку ещё вы любите и
														слушаете?</h2></div>
											</div>
										</div>
										<div class="bel-text _interview-list-text">
											<div class="bel-text-w">
												<div class="bel-text-i"><p><span>К.Г.</span> Я всегда был поклонником
														западной рок-музыки, смешанной с электроникой – Linkin Park, Limp
														Bizkit, Muse, Radiohead, Coldplay, The Killers… В последнее время
														также начал нравится лаунж и фьюжн – музыка, которая помогает
														расслабиться и поразмышлять. Из классики больше всего люблю то, что
														писали композиторы-пианисты – Рахманинов, Лист.</p>
													<p><span>А.М.</span> Я люблю музыку, которая «цепляет», а это
														происходит только в том случае, если автору есть о чем сказать.
														В этом случае жанр не важен.</p>
													<p><span>Н.Х. </span>Я воспитывался на рок-музыке, как
														отечественной, так и зарубежной. И любовь к этому жанру я пронёс
														через всю консерваторию, несмотря на то, что во время и после
														получения образования главным моим направлением бесспорно стала
														классика. А затем к ней присоединились и другие жанры. Отдельной
														моей страстью является джаз. Уже почти 10 лет я стараюсь
														развивать навыки импровизации и регулярно посещаю джазовые
														концерты. Но важно то, что понятие «шедевр» для меня очень
														растяжимо. Это может быть симфония, рок-баллада или джазовая
														композиция. Жанр – это лишь условности.</p></div>
											</div>
										</div>
									</div>
									<div class="bel-list-i">
										<div class="bel-heading _interview-list-heading">
											<div class="bel-heading-w">
												<div class="bel-heading-i"><h2>Кем бы вы стали, если не музыкантом?</h2>
												</div>
											</div>
										</div>
										<div class="bel-text _interview-list-text">
											<div class="bel-text-w">
												<div class="bel-text-i"><p><span>К.Г.</span> Думаю, что я бы с
														удовольствием занимался бы чем-то, связанным с автомобилями –
														участвовал в гонках или открыл свой автосервис.</p>
													<p><span>А.М.</span> Если бы я не стал музыкантом, я не был бы
														по-настоящему счастлив и не чувствовал бы себя на «своем» месте.
														Наверно я мог бы стать программистом или математиком… Микс и
														правда парадоксальный – творчество и точные науки.</p>
													<p><span>Н.Х. </span>Я хотел стать футболистом. Но нужно признать,
														таланта у меня не было. Хорошо что в нашем посёлке не было
														спортивных секций, иначе появился бы ещё один горе-футболист.
														Сейчас мне крайне сложно представить жизнь без музыки, и если бы
														не она, то наверно я бы стал журналистом-обозревателем. Мне
														нравится оттачивать мысль, пытаться изложить ее наиболее внятно
														и убедительно.</p></div>
											</div>
										</div>
									</div>
									<div class="bel-list-i">
										<div class="bel-heading _interview-list-heading">
											<div class="bel-heading-w">
												<div class="bel-heading-i"><h2>Ваше хобби, увлечения помимо музыки?</h2>
												</div>
											</div>
										</div>
										<div class="bel-text _interview-list-text">
											<div class="bel-text-w">
												<div class="bel-text-i"><p><span>К.Г.</span> Как я уже говорил, люблю
														автомобили и все, что с ними связано. Пристально слежу за
														чемпионатом F1, сам обожаю водить. Еще люблю гулять по городу,
														путешествовать, читать и петь.</p>
													<p><span>А.М.</span> Мое хобби – приобретать новые хобби. Вот такая
														тавтология. Всего и не перечислишь, но я попробую: IT
														технологии, всевозможные гаджеты и все, что с этим связано,
														видеомонтаж, сноубординг, путешествия, автомобили.. В общем,
														всего понемногу. Однако мои музыкальные увлечения, связанные
														непосредственно с игрой на фортепиано (композиция, аранжировка,
														звукорежиссура и т. д.), я считаю исключительно профессиональной
														деятельностью.</p>
													<p><span>Н.Х. </span>Мне повезло, потому что мои хобби и работа
														совпадают. Хотя есть, конечно, и не связанные с работой. Люблю
														футбол, как игрок и как зритель, хожу на матчи любимой хоккейной
														команды. Ещё меня очень захватывают шахматы, но я никогда не
														занимался ими профессионально, отчасти из страха, что они
														слишком сильно меня захватят и отвлекут от музыки. Я также
														увлекаюсь историей, слежу за тем что происходит сегодня в России
														и в мире.</p></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>

{% endblock %}
